@import "../../colors";

.home {
  width: 100%;
  background: $color-background;
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero-section {
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hero-inner {
      h1 {
        font-size: 40px;
        text-align: left;
        font-weight: 400;
        text-transform: uppercase;
        color: $color-main-text;
      }

      p {
        margin: 30px 0;
        font-size: 20px;
        text-align: left;
        font-weight: 100;
        text-transform: uppercase;
        color: $color-main-text;
      }

      .button-wrapper {
        width: 30%;
      }
    }
  }

  .product-preview {
    width: 100%;
    height: 100vh;
    background: $color-background;
  }
}
