.medium-opaque {
    width: 140px;
    height: 35px;
    margin: 0 15px;
    background: #7DC651;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    font-size: 16px; 
    cursor: pointer;
    outline: none;
}

.medium-opaque:hover {
    background: #5eac3a
}

.medium-transparent {
    width: 140px;
    height: 35px;
    margin: 0 15px;
    background-color: Transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px hsla(0, 0%, 0%, 0.251));
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.medium-transparent:hover {
    background: hsl(0, 0%, 100%, 0.1)
}